@import "@styles/variables";

/*  ========  FONTS =========     */

@mixin rubik-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin rubik-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@mixin rubik-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@mixin ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin nunito-regular {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ==== STYLES === */

@mixin h3 {
  @include ubuntu-bold;
  font-size: 30px;
  line-height: 147%;
  color: $black;
}

@mixin h4 {
  @include ubuntu-bold;
  font-size: 20px;
  line-height: 100%;
  color: $black;
}

@mixin p-primary {
  @include ubuntu-medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: $black;
}
