@import "@styles/mixins.scss";
@import "@styles/variables";

.cardinfo-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  gap: 20px;
}
