@import "@styles/mixins.scss";
@import "@styles/variables";

.payment-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 28px;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 0 8px 0 rgba(0, 0, 0, 0.08);
  background: $white;
}

.payment-table {
  padding: 30px;
}
.payment-table-text {
  display: flex;
  align-items: center;
  width: 40%;
  flex-wrap: wrap;
  justify-content: space-between;

  &-title {
    @include ubuntu-bold;
    @include h3;
  }

  &-p {
    @include p-primary;
  }
}

.grid-table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  background-color: #eee;
}

.grid-header {
  display: contents;
}

.grid-cell {
  padding: 12px;
  background-color: #fff;
  text-align: right;
  @include ubuntu-medium;
  color: $black;
}

.header-cell {
  @include ubuntu-medium;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 0%;
  letter-spacing: 0.02em;
  color: #4a5568;
  cursor: pointer;
}

.sort-icon {
  margin-left: 5px;
}

.grid-row {
  display: contents;
}

.cell-header {
  display: none;
}

@media (max-width: 768px) {
  .grid-table {
    grid-template-columns: 1fr;
  }

  .grid-header {
    display: none;
  }

  .grid-row {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
  }

  .grid-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    border-bottom: 1px solid #eee;
  }

  .cell-header {
    display: inline;
    font-weight: bold;
    text-align: left;
  }
}

.payment-buttons {
  display: flex;
  justify-content: space-between;
}

.deny {
  background: rgba(217, 55, 55, 0.8);

  &-title {
    @include ubuntu-bold;

    font-weight: 700;
    font-size: 16px;
    line-height: 147%;
    letter-spacing: 0.02em;
    text-align: center;
    color: $white;
  }

  &-text {
    @include p-primary;
  }
}

.denial-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 100px;
}

.go-home-button {
  align-self: flex-end;
}

.send-button:disabled {
  cursor: not-allowed;
}

.send-block {
  display: flex;
  align-items: center;
  gap: 20px;
}
.checkbox {
  @include ubuntu-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 112%;
  text-align: center;
  color: #1a202c;
  border: 1px solid #808080;
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.checkbox-label {
  display: flex;
  gap: 10px;
}
