@import "@styles/mixins.scss";
@import "@styles/variables";

.credit-card-hero-content {
  max-width: 1300px;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 0 auto;
}

.credit-card-hero {
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 0 8px 0 rgba(0, 0, 0, 0.08);
  background: linear-gradient(180deg, rgba(203, 213, 224, 0.8) 0%, rgba(254, 235, 200, 0.8) 100%);

  border-radius: 29px;
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 32px;

  @media (max-width: 785px) {
    flex-wrap: wrap;
  }

  &_h1 {
    @include ubuntu-bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: $white;
    margin: 0;
  }

  &-s {
    @include ubuntu-medium;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #2d3748;
    max-width: 515px;
  }
}

.credit-card-hero-text {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
}

.credit-card-conditions {
  display: flex;
  max-width: 615px;
  gap: 80px;

  @media (max-width: 470px) {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.conditions-item {
  display: flex;
  flex-direction: column;

  &-m {
    @include ubuntu-bold;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: $black;
  }

  &-s {
    @include ubuntu-medium;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: $black;
  }
}

.creditcard-img {
  @media (max-width: 785px) {
    transform: rotate(-10deg);
    width: 100%;
    height: auto;
  }
}
