@import "@styles/mixins";

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__textblock {
  width: 635px;
  height: 225px;
}

.hero__h1 {
  @include ubuntu-bold;
  font-size: 48px;
  line-height: 104%;
  color: #1c1c1e;
}

.hero__cardsblock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  img {
    max-width: 252px;
    max-height: 150px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
