@import "@styles/mixins";

.features-content {
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  margin: 0 auto;

  @media (max-width: 740px) {
    flex-wrap: wrap;
  }

  &__text_h2 {
    @include rubik-medium;
    font-size: 35px;
    line-height: 143%;
    color: #0b132a;
    padding: 10px;
  }

  &__text_subtitle {
    @include rubik-regular;
    font-size: 16px;
    line-height: 187%;
    color: #4f5665;
    padding: 10px;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
  }

  &__image {
    width: 100%;
    height: auto;
    max-width: 510px;
  }
}

.features-content__list_item {
  @include rubik-regular;
  font-size: 14px;
  line-height: 214%;
  color: #4f5665;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url("@assets/images/check-circle.svg");
  }
}
