@import "@styles/mixins.scss";
@import "@styles/variables";

@import "@styles/mixins.scss";
@import "@styles/variables";

.form-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 28px;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 0 8px 0 rgba(0, 0, 0, 0.08);
  background: $white;
}
.form-block {
  display: flex;
  flex-direction: column;
  padding: 30px;

  @media (max-width: 1068px) {
    flex-direction: column;
  }
}

.form-text {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
    @include ubuntu-bold;
    @include h3;
  }

  &-p {
    @include p-primary;
  }
}

.form-h4 {
  @include h4;
}

.redstar {
  @include p-primary;

  line-height: 100%;
  color: #f00;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.input1,
.input2,
.input3 {
  grid-column: span 2;
}
.input4,
.input5 {
  grid-column: span 3;
}

@media (max-width: 780px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  .input1,
  .input2,
  .input3,
  .input4 {
    grid-column: span 3;
  }
  .input5 {
    grid-column: span 6;
  }
}

@media (max-width: 403px) {
  .input1,
  .input2,
  .input3,
  .input4,
  .input5 {
    grid-column: span 6;
  }
}

.apply-slider-input {
  @include p-primary;
  padding: 10px 0;
  border: none;
  width: 30%;

  &:focus {
    border: 1px solid #5b35d5;
  }
}
.apply-slider {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #5b35d5;
  border-radius: 10px;
  max-width: 580px;

  @media (max-width: 1068px) {
    max-width: 100%;
  }
}
.apply-slider-line {
  width: 100%;
  height: 2px;
}
.apply-slider-sums {
  display: flex;
  justify-content: space-between;
  @include ubuntu-medium;
  font-size: 16px;
  line-height: 100%;
  color: #786d6d;
}

.divider {
  border: 1px dashed rgba(128, 128, 128, 0.4);
  width: 232px;
  height: 0px;
  transform: rotate(90deg);
  align-self: center;

  @media (max-width: 1068px) {
    transform: rotate(0deg);
    align-self: flex-start;
    margin-top: 20px;
  }
}
.amount-block {
  display: flex;
  flex-direction: column;
  &-h4 {
    @include h4;
  }
}

.horizontal-line {
  height: 2px;
  background-color: rgba(128, 128, 128, 0.2);
  width: 250px;
}

.form-h4 {
  @include h4;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-button {
    align-self: flex-end;
  }
}

.error-message {
  color: red;
}

.form-grid-employment {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;

  @media (max-width: 1270px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 968px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 656px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.form-p {
  @include p-primary;
}

.redstar {
  @include p-primary;

  line-height: 100%;
  color: #f00;
}

.input {
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  background-color: #f9f5e3;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) center;

  @media (max-width: 352px) {
    width: 230px;
  }

  &:focus {
    border-color: rgb(104, 87, 197);
    outline: none;
  }

  &::placeholder {
    @include ubuntu-regular;
    padding: 10px;
    font-size: 14px;
    line-height: 100%;
    color: #808080;
  }

  &.success {
    border: 1px solid green;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18ZM8.76822 12.6402L13.7682 6.64018L12.2318 5.35982L7.9328 10.5186L5.70711 8.29289L4.29289 9.70711L7.29289 12.7071L8.0672 13.4814L8.76822 12.6402Z' fill='%23008000' fill-opacity='0.8'/%3E%3C/svg%3E");
  }

  &.error {
    border: 1px solid red;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 9C18 13.9706 13.9706 18 9 18C4.02944 18 0 13.9706 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9ZM4.29289 13.7071C3.90237 13.3166 3.90237 12.6834 4.29289 12.2929L7.58579 9L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L9 7.58579L12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289C14.0976 4.68342 14.0976 5.31658 13.7071 5.70711L10.4142 9L13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071C13.3166 14.0976 12.6834 14.0976 12.2929 13.7071L9 10.4142L5.70711 13.7071C5.31658 14.0976 4.68342 14.0976 4.29289 13.7071Z' fill='%23FF5631'/%3E%3C/svg%3E");
  }
}
