@import "@styles/mixins.scss";
@import "@styles/variables";

.rates-conditions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(7, auto);

  &-item {
    padding: 20px 20px 20px 0;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #7f92ac;
    }

    &:nth-child(odd)::after {
      width: 100%;
    }

    &:nth-child(even)::after {
      width: 80%;
    }

    &:last-child,
    &:nth-last-child(2) {
      border-bottom: none;
    }
  }
}

.left {
  @include p-primary;
}

.right {
  @include p-primary;
  color: #434343;
}
